body {
  margin: 0;
  height: 100vh;
  background: url('./assests/images/WeatherBackground.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
